<main role="main" class="container-fluid p-3 overflow-auto">
    <h3>Dr. {{doctor.first_name + " " + doctor.last_name}}</h3>
    <hr>
    <div class="row row-cols-lg-2 row-cols-1">
        <div class="col"><img src={{pfpBaseUrl}}/auth/{{doctor.doctor_photo}} width="50%" alt=""></div>
        <div class="col">
            <div class="row">

                <p class="fs-3 col"><span class="fw-medium">Name: </span>Dr. {{doctor.first_name + " " +
                    doctor.last_name}}</p>
                <p class="fs-3 col"><span class="fw-medium">Specialization: </span>{{doctor.specialization_name}}</p>
            </div>
        </div>
    </div>
    <hr>
    <h3>Patients</h3>
    <hr>
    <div class="table-responsive" ng-if="doctor.patients.length > 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Height/Weight</th>
                    <th>Blood Group</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patient in doctor.patients">
                    <td class="d-flex"> <img src={{pfpBaseUrl}}/auth/{{patient.patient_photo}} width="44" height="44"
                            class="rounded-circle pe-2 object-fit-cover" alt="">
                        <div class="d-flex flex-column justify-content-center">
                            <p class="p-0 m-0">{{patient.first_name + " " +
                                patient.last_name}}</p>
                            <p class="fs-6 text-muted p-0 m-0">{{patient.age}}, {{patient.gender}}</p>
                        </div>
                    </td>
                    <td>{{patient.height}}cm / {{patient.weight}}kg</td>
                    <td>{{patient.blood_group_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>