<div class="d-flex h-100">

    <!-- <div class="flex-shrink-0 p-3 bg-dark d-none d-md-block" style="width: 220px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold text-white">NanoHealth</span>
            <i class="bi bi-arrow-left-square-fill"></i>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="false">
                    <i class="bi bi-house-door-fill"></i>
                    Home
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded text-white">Overview</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Updates</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Reports</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <i class="bi bi-speedometer"></i>
                    Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded text-white">Overview</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Annually</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
                    data-bs-target="#orders-collapse" aria-expanded="false">
                    <i class="bi bi-calendar-check-fill"></i>
                    Orders
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded text-white">New</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Processed</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Shipped</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Returned</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>

                    Account
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded text-white">New</a></li>
                        <li><a href="#" class="link-dark rounded text-white">
                                <i class="bi bi-person-circle"></i>
                                Profile</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Settings</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Sign out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> -->
    <div class="w-auto px-5 h-100 overflow-auto mx-auto">
        <main>
            <div class="py-5 text-center">
                <!-- <img class="d-block mx-auto mb-4"
                    src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                <h1 class="h2">Book Appointment</h1>
                <!-- <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required
                    form group has a validation state that can be triggered by attempting to submit the form without
                    completing it.</p> -->
            </div>
            <div class="row g-5">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Billing address</h4>
                    <form id="appointmentForm" ng-submit="bookAppointment()">
                        <div class="row g-3">
                            <div class="col-sm-6"> <label for="firstName" class="form-label">First name</label> <input
                                    type="text" class="form-control text-capitalize" id="firstName" placeholder=""
                                    value={{user.first_name}} disabled>

                            </div>
                            <div class="col-sm-6"> <label for="lastName" class="form-label">Last name</label> <input
                                    type="text" class="form-control text-capitalize" id="lastName" placeholder=""
                                    value="{{user.last_name}}" disabled>
                            </div>
                            <div class="col-sm-6"> <label for="email" class="form-label">Email</label> <input
                                    type="email" class="form-control text-truncate" id="email"
                                    placeholder="you@example.com" value="{{user.email}}" disabled>
                            </div>
                            <div class="col-sm-6"> <label for="phone_no" class="form-label">Phone number</label> <input
                                    type="text" class="form-control" id="lastName" value="{{'+91 ' + user.phone_no}}"
                                    disabled>
                            </div>
                            <hr class="mt-4">
                            <div class="col-12">
                                <label for="doctor" class="form-label">Doctor to visit</label>
                                <select class="form-select" ng-model="doc" ng-change="docToVisit()" name="doctor"
                                    required>
                                    <option value="" disabled selected>Select</option>
                                    <option ng-repeat="doctor in doctors" value="{{doctor.id}}">
                                        {{ 'Dr. ' + doctor.first_name + " " + doctor.last_name + " (" +
                                        doctor.specializations + ")"}}</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="doctor" class="form-label">Date of visit</label>
                                <input type="date" ng-model="date" min={{today}} name="date" required class="form-control">
                            </div>

                            <div class="col-12">
                                <label class="mb-2">Time of Visit</label>
                                <select name="time" ng-model="time" class="form-select" aria-label="Default select example">
                                    <option selected disabled value="">Select</option>
                                    <option value={{slot.time}} ng-repeat="slot in slots">{{slot.slot}}</option>
                                    
                                </select>

                            </div>

                            <div class="col-12">
                                <label for="doctor" class="form-label">Reason of visit</label>
                                <input type="text" required name="reason_to_visit" class="form-control"
                                    placeholder="Eg. Symptoms, etc.">
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="form-check"> <input type="checkbox" ng-model="type" class="form-check-input">
                            <label class="form-check-label">This is a follow-up appointment.</label>
                        </div>
                        <hr class="my-4">
                        <h4 class="mb-3">Payment</h4>
                        <div class="my-3">
                            <div class="form-check"> <input id="credit" name="paymentMethod" type="radio"
                                    class="form-check-input" checked="" value="UPI" required=""> <label
                                    class="form-check-label" for="credit">UPI</label> </div>
                            <div class="form-check"> <input id="debit" value="cash" name="paymentMethod" type="radio"
                                    class="form-check-input" required=""> <label class="form-check-label"
                                    for="debit">Cash on visit</label> </div>
                        </div>
                        <hr class="my-4"> <button class="w-100 btn btn-primary btn-lg" type="submit">Book
                            Appointment</button>
                    </form>
                </div>
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3"> <span
                            class="text-success fw-medium">
                            Appointment summary</span> </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-2 text-secondary">For</h6>
                                <!-- <small class="text-body-secondary">Brief
                                    description</small> -->
                            </div> <span class="text-capitalize fw-medium my-2">{{user.first_name + " " +
                                user.last_name}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm" ng-if="doctor">
                            <div>
                                <h6 class="my-2 text-secondary">With </h6>
                                <!-- <small class="text-body-secondary">Brief
                                    description</small> -->
                            </div> <span class="text-truncate ml-2 my-2">{{doctor ? 'Dr. ' + doctor.first_name + " " +
                                doctor.last_name + " (" + doctor.specializations + ")" : 'N/A'}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm" ng-if="date">
                            <div>
                                <h6 class="my-2 text-secondary">On</h6>
                                <!-- <small class="text-body-secondary">Brief
                                    description</small> -->
                            </div> <span class=" my-2">{{date | date}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm" ng-if="time">
                            <div>
                                <h6 class="my-2 text-secondary">@</h6>
                                <!-- <small class="text-body-secondary">Brief
                                    description</small> -->
                            </div> <span class="my-2">{{time}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-2 text-secondary">Type</h6>
                                <!-- <small class="text-body-secondary">Brief
                                    description</small> -->
                            </div> <span class="my-2">{{type ? 'Follow-Up' : 'New'}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between" ng-if="doctor && date && time">
                            <span>Total</span>
                            <strong>₹2000</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">© 2017-2025 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
</div>