

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// $primary: bla[ck;
$custom-colors : (
  "primary-purple": #75136b,
  "purple-subtle" : #f8eafa
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";
