

// required to get $orange variable
// @import "functions"; 
// @import "variables";

@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

$primary: $orange; // set the $primary variable

// merge with existing $theme-colors maps
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// set changes
@import "/node_modules/bootstrap/scss/bootstrap.scss";
